body>#root>div {
    height: 100vh;
}

#registerFormContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

#Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#textError{
    color: red;
    font-weight: bold;
    margin-top: 10px;
}