nav ul li {
    list-style: none;
    padding: 5px;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
}

#logoLink {
    color: white
}

#logoImage {
    width: 100px;
    height: 70px;
}

#logoDiv {
    font-weight: bold;
}

#ulSession {
    right: 0%;
}

#inputSearch {
    width: 500px;
}

#flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #121212;
}

#message {
    color: white;
}

#cartIcon {
    color: white;
}

#link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#imgSlider {
    width: 100%;
    height: 350px;
}

#carouselHome {
    padding: 0px 20px;
}

#carousel-control-next {
    color: #121212;
}

#descriptionImage {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
}

.card {
    width: 18rem;
    margin: 10px;
}

#cardData {
    text-decoration: none;
    color: #121212;
}

#infoPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Price {
    font-size: xx-large;
}

#discount {
    font-size: medium;
    color: green;
    margin-left: 10px;
}

#cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#imageCard {
    padding: 5px;
}

#title {
    width: 92%;
}

footer {
    width: 100%;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#container {
    background-color: #edebec;
}

#footerCard {
    border-width: 0px;
    width: 23%;
    margin-bottom: 40px;
}

#footerCardText {
    text-align: center;
}

#footerTitleCard {
    font-size: x-large;
    color: #3b3d41;
    font-weight: 400;
}

#footerDescriptionCard {
    font-size: medium;
    color: #6c6d70;
}

#footerIconColor {
    color: #274caa;
}

#footerLinks {
    text-decoration: none;
    font-size: 15px;
    color: #2596be;
}

#footerInfo {
    display: flex;
    flex-direction: row;
    width: 87%;
}

#info {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: small;
    color: black;
}